<!DOCTYPE HTML>
    <html lang="en">
        <head>
        <style>
            body{
                background-image: url('https://img.freepik.com/premium-vector/realistic-movie-clapper-slapstick_260559-141.jpg?size=626&ext=jpg&ga=GA1.2.653839176.1666113205');
                background-size: cover;
                background-repeat: no repeat;
                height: 100vh;
                color: #FFFFFF;


        </style>
            <title style="font-size:400%;">Search A Movie Poster </title>
        </head>
        <body>
            <h1 style="font-size:300%;">Welcome to search and download site</h1>
            <div id="container">
                <div class="form">
                    <form action="/search" method="post">
                        <div id="input-1">
                            <label style="font-size:300%"; for="name">Enter a Movie Name:</label>
                            <input type="text" name="name" id='name' required>
                        </div>
                        <br>
                        <br>
                        <br>
                        <div id="div-submit">
                            <input style="font-size:300%;" type="submit" value="SUBMIT">
                        </div>
                         <div id="div-delete">
                            <input style="font-size:300%;" type="submit" value="DELETE">
                        </div>
                    </form>
                </div>

            </div>

        </body>
    </html>